<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Resolver">
	<listeners>
		<listener
			class-name="com.RES.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test thread-count="5" name="Resolver Test">
		<classes>
			<class name="com.Resolver.Tests.Test1" />
			<class name="com.Resolver.Tests.Test2" />
			<class name="com.Resolver.Tests.Test3" />
			<class name="com.Resolver.Tests.Test4" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
